
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static 'css/simplebar.css' %}">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'css/feather.css' %}">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static 'css/app-light.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static 'css/app-dark.css' %}" id="darkTheme" disabled>
  </head>
  <body class="light ">
    <div class="wrapper vh-100">
      <div class="row align-items-center h-100">
        <form class="col-lg-6 col-md-8 col-10 mx-auto" action="{% url 'registration' %}" method="POST" id="myForm">
          {% csrf_token %}
          <div class="mx-auto text-center my-4">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="./index.html">
              <svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
                <g>
                  <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                  <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                  <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                </g>
              </svg>
            </a>
            <h2 class="my-3">User Registration</h2>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstname">Firstname</label>
              <input type="text" id="firstname" class="form-control" name="first_name">
              <p id="message1"></p>
            </div>
            <div class="form-group col-md-6">
              <label for="lastname">Lastname</label>
              <input type="text" id="lastname" class="form-control" name="last_name">
              <p id="message2"></p>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail4">User name</label>
            <input type="text" class="form-control" id="username" name="username">
            <p id="message3"></p>
          </div>
          <div class="form-group">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" name="email" id="email">
            <p id="message4"></p>
          </div>
          <hr class="my-4">
          <div class="row mb-4">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputPassword5">New Password</label>
                <input type="password" class="form-control" id="password" name="password">
                <p id="message5"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputPassword6">Confirm Password</label>
                <input type="password" class="form-control" id="c_password" name="c_password" required>
                <p id="message6"></p>
                <p id="message7"></p>
              </div>
            </div>
            <input type="password" class="form-control"  required>
          </div>
          <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>-->
          
          <input type="submit" class="btn mb-2 btn-primary btn-lg btn-block fadeIn fourth" id="submit_btn" value="Log In">
          {% for message in messages %}
          
            <p><strong>{{message}}</p></strong>
      
          {% endfor %}
         
        </form>
      </div>
    </div>
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
  /* ==========================================================================
   CONTACT FORM JS
   ========================================================================== */

   $(document).ready(function() {
      $("#submit_btn").click(function() { 
          //get input field values
          var first_name       = $('input[name=first_name]').val(); 
          var last_name        = $('input[name=last_name]').val();
          var username         = $('input[name=username]').val();
          var email            = $('input[name=email]').val();
          var password         = $('input[name=password]').val();
          var c_password       = $('input[name=c_password]').val();
          
          //simple validation at client's end
          //we simply change border color to red if empty field using .css()
          var proceed = true;
          if(first_name==""){ 
              $('input[name=first_name]').css('border-color','red'); 
              document.getElementById("message1").innerHTML = "Please fill your first_name";
              proceed = false;
          }
          else if(first_name!=""){ 
            $('input[name=first_name]').css('border-color','white'); 
            document.getElementById("message1").innerHTML = "";
            proceed = true;
          }
          if(last_name==""){ 
              $('input[name=last_name]').css('border-color','red'); 
              document.getElementById("message2").innerHTML = "Please fill Your last_name";
              proceed = false;
          } else if(last_name!=""){ 
            $('input[name=last_name]').css('border-color','white'); 
            document.getElementById("message2").innerHTML = "";
            proceed = true;
          }
          if(username=="") {    
              $('input[name=username]').css('border-color','red'); 
              document.getElementById("message3").innerHTML = "Please fill your username";
              proceed = false;
          }
          else if(username!=""){ 
            $('input[name=username]').css('border-color','white'); 
            document.getElementById("message3").innerHTML = "";
            proceed = true;
          }
          if(email=="") {  
              $('input[name=email]').css('border-color','red'); 
              document.getElementById("message4").innerHTML = "Please fill your email";
              proceed = false;
          }
          else if(email!=""){ 
            $('input[name=email]').css('border-color','white'); 
            document.getElementById("message4").innerHTML = "";
            proceed = true;
          }
          if(password=="") {  
              $('input[name=password]').css('border-color','red'); 
              document.getElementById("message5").innerHTML = "Please fill your password";
              proceed = false;
          }
          else if(password!=""){ 
            $('input[name=password]').css('border-color','white'); 
            document.getElementById("message5").innerHTML = "";
            proceed = true;
          }
          if(c_password=="") {  
              $('input[name=c_password]').css('border-color','red'); 
              document.getElementById("message6").innerHTML = "Please confirm your password";
              proceed = false;
          }
          else if(c_password!=""){ 
            $('input[name=c_password]').css('border-color','white'); 
            document.getElementById("message6").innerHTML = "";
            proceed = true;
          }
          if (password != c_password) { 
            document.getElementById("message7").innerHTML = "Password didnot match!";
              proceed = false;
                } 
          else if(password == c_password) { 
            $('input[name=c_password]').css('border-color','white'); 
            document.getElementById("message7").innerHTML = "";
            proceed = true;
          }
        
      });
      
      //reset previously set border colors and hide all message on .keyup()
      $("#contact_form input, #contact_form textarea").keyup(function() { 
          $("#contact_form input, #contact_form textarea").css('border-color',''); 
          $("#result").slideUp();
      });
      
  });
</script>
<script type="text/javascript"> 
  setTimeout(function () { 

      // Closing the alert 
      $('#alert').alert('close'); 
  }, 3000); 
</script> 

</body>
</html>